@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap'); /*Itim*/

html,
body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #F1B37A;
    font-family: 'Itim', Roboto, Helvetica, Arial, sans-serif;
}

.navigation {
    background-color: #F1B37A;
}

.navbar-brand img {
    width: 40px;
    height: 50px;
}

.fas{
    color: white;    
}

.navbar-brand{
    margin-top: 10px;
    margin-left: 30px;
    color: white;
    font-size: x-large;
}

.nav {
    margin-top: px;
}

.col img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

.col {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
}

.col,
.row {
    max-width: 100%;
}

.row {
    margin: 0;
    padding: 0;
}

.background-image-container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top
}



.hero-full-container h1 {
    font-weight: 900;
    font-size: 450%;
}

.hero-full-container .hero-full-wrapper {
    width: 100%;
    min-height: 50vh
}

.hero-full-container .hero-full-wrapper .text-content {
    vertical-align: middle;
    display: table-cell
}

.white-text-container h1,
.white-text-container h2,
.white-text-container h3,
.white-text-container h4,
.white-text-container h5,
.white-text-container p {
    text-shadow: 0 1px 3px #000;
    color: #fff
}

.white-text-container a {
    color: #fff
}

#left {
    background-color: #8CA386;
}

.hero-full-container {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-40%, -50%);
}
